node_modules/
.pnpm-store/
.env
.env.local
*.log
.DS_Store

# hardhat
contracts/artifacts/
contracts/cache/
contracts/coverage/
contracts/types/
contracts/coverage.json
contracts/typechain-types/
contracts/fhevmTemp/

# next
web/.next/
web/out/
web/.vercel/

# build
dist/
build/
web/tsconfig.tsbuildinfo
